:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: all ease-in;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 230px;
  border: 2px solid #222;
  height: 230px;
  border-radius: 50%;
  padding: 4%;
}

#value-text {
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  background-color: #222;
  padding: 2%;
  border-radius: 3px;

}

inpuut::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}